*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.app{
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat( auto-fill, minmax(30px, 30px) );
    grid-template-rows: repeat( auto-fill, minmax(30px, 30px) );
    
}

.cell{
    height: 100%;
    width: 100%;
    transition: box-shadow 0.15s ease-out, background-color 0.15s;
}

.cell:hover{
    box-shadow: 0 0 10px grey;
    cursor: pointer;
}

div[cell-state="alive"]{
    background-color: #8c038768;
}

@keyframes flyDown {
    from{
        transform: none;
    }
    to{
        transform: translateY(100%);
        opacity: 0;
    }
}

@keyframes flyUp {
    from{
        transform: translateY(100%);
        opacity: 0;
    }
    to{
        transform: none;
        opacity: 1;
    }
}

.flyDown{
    animation: flyDown 0.5s ease-in-out;
}

.flyUp{
    animation: flyUp 0.5s ease-in-out;
}

.controlsWidget{
    position: fixed;
    bottom: 30px;
    left: 50%;
    width: max-content;
    height: 40px;
    transform-origin: 50% 0px;
    transform: translateX(-50%);
    background-color: rgb(74, 92, 105);
    opacity: 0.4;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.2s;
}

.controlsWidget:hover{
    opacity: 1;
}

.dragger{
    width: 40px;
    height: 100%;
    background-color: rgb(55, 36, 78);
    cursor: grab;
    user-select: none;
}

.dragger:active{
    cursor: grabbing;
}

.draggerImage{
    object-fit: cover;
    width: 40px;
    height: 100%;
    filter: invert();
    mix-blend-mode: screen;
}

.controls{
    width: max-content;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 1rem;
}

.controlContainer{
    width: 40px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.control{
    height: 100%;
    width: 40px;
    cursor: pointer;
    margin: 0 0.2em;
}

.pauseControl{
    font-weight: 800;
    font-size: 1.2rem;
}

.playForwardContainer{
    display: none;
    width: max-content;
}

.triangleIcon{
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top: 0;
    border-bottom: 40px solid #ffffffeb;
    transform: rotate(90deg) scale(0.6);
}

.playControl{
    border: 1px #8EC5FC solid;
    background: #270f41;
}

.ffTriangle2{
    transform: translateX(-70%) rotate(90deg) scale(0.6);
    border-bottom: 40px solid #ffffff;
}

.forwardControl{
    display: flex;
    border: 1px #8EC5FC solid;
    width: 50px;
    background: #270f41;
}